# Secret files
.env

# Python Virtual Environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python Cache
__pycache__/
*.pyc

# Data (Ignore raw audio and outputs so we don't upload huge files)
data/raw_audio/*
data/outputs/*
!data/raw_audio/.gitkeep
!data/outputs/.gitkeep